*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    background-color: #333;
    overflow: hidden;
}
.navbar  a {
     float: left;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    display: block;
    font-size: 1.2rem;
    text-decoration: none;
    
}
.navbar a:hover {
    background-color: #ddd;
    text-decoration: underline;
    color: black;
}
.active {
    text-decoration: underline;
    background-color: #04AA6D;
    color: white;
}

.active.logo {
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar.right {
    margin-left: auto;
}
 
@media screen {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }
}

