.divHomeContainer{
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content:center;
    flex-direction: column;
    gap: 20px ;

}

h1{
    font-size: 3rem;
    color: #333;
}
p{
    font-size: 1.5rem;
    color: #666;
}
button{
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #04AA6D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #039f5b;
}

img{
    width: 300px;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
}